
HW1/CHANGELOG.md
HW1/dist-newstyle/build/x86_64-linux/.
HW1/build/HW1/autogen/cabal_macros.hHW1/build/HW1/autogen/Paths_HW1.hsHW1/cache/configHW1/package.conf.inplace/package.cache
HW1/Setup.hs
HW1/HW1.cabal
HW1/dist-newstyle/packagedb/ghc-8.6.5/package.cache.lock
HW1/dist-newstyle/cache/up-to-date
HW1/dist-newstyle/cache/solver-plan
HW1/dist-newstyle/cache/improved-plan
HW1/dist-newstyle/cache/config
HW1/dist-newstyle/build/x86_64-linux/ghc-8.6.5/HW1-0.1.0.0/x/HW1/setup-config
*.cache
HW1/dist-newstyle/build/x86_64-linux/ghc-8.6.5/HW1-0.1.0.0/x/HW1/build/HW1/autogen/cabal_macros.h
HW1/dist-newstyle/build/x86_64-linux/ghc-8.6.5/HW1-0.1.0.0/x/HW1/build/HW1/autogen/Paths_HW1.hs
HW1/dist-newstyle/build/x86_64-linux/ghc-8.6.5/HW1-0.1.0.0/x/HW1/cache/config
HW1/dist-newstyle/build/x86_64-linux/ghc-8.6.5/HW1-0.1.0.0/x/HW1/package.conf.inplace/package.cache.lock
HW1/dist-newstyle/cache/compiler
HW1/dist-newstyle/cache/elaborated-plan
HW1/dist-newstyle/cache/plan.json
HW1/dist-newstyle/cache/source-hashes
